<div class="d-flex">
  <h1 class="p-2 flex-grow-1 text-center text-primary">{{ title }}</h1>
  <div class="p-2">
    <a class="btn btn-primary" href="{{toPath}}">
      {{ textPath }}
    </a>
  </div>
</div>