<div class="d-flex justify-content-center shadow-sm p-3 mb-5 bg-white rounded bg-fiusha">
  <div class="text-center">
    <h2 class="text-white">USER ERROR {{ auth }}</h2>
    <a class="btn btn-warning" href="{{ path }}">VOLVER</a>
  </div>
</div>