<h1 class="p-2 flex-grow-1 text-center text-primary">
  Login de usuario
</h1>
<form action="/auth/login" method="post">

  <div class="form-group">
    <label for="name"><b>Nombre</b></label>
    <input 
      id="name" 
      class="form-control"   
      type="text" 
      name="name"
      placeholder="nombre"
    />
  </div>

  <button class="btn btn-success mt-3">Registrar</button>
</form>